@import '../styles//variables.scss';

.browse-header {
    display: flex;
    position: relative;
    flex-direction: column;

    h2 {
        font-size: 6rem;
    }
    h3 {
      font-size: 5rem;
      color: $dark;
      margin-left: 30%;
      // text-decoration: line-through

      span {
        color: $orange;
      }
    }
}

.user-select {
    margin: 1.5rem;

}