@import '../styles/variables.scss';

.compare-header {
    display: flex;
    position: relative;
    flex-direction: column;

    h2 {
     font-size: 4rem;
    }

    h3 {
      font-size: 4rem;
      color: $primary;
      margin-left: 30%;
    }

    h4 {
        font-size: 5rem;
        text-align: center;
    }

    h5 {
        text-align: center;
        margin-bottom: 5rem;
    }
}

.compare-sub-header {
    text-align: right;
    margin-right: 10%;
    margin-bottom: 2rem;
}

.compare-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 20px;
    justify-content: space-around;
    margin: 5rem;

    .match-conatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h6 {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $primary;
        text-decoration: line-through;
        font-style: italic;
    }
    .compare-image  {
        width: 20rem;
        height: 20rem;
        border-radius: 100%;

    }
}

.user-compare {
    width: 33%;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-bar {
    display: flex;
    width: 15%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotate(180deg);
    align-content: space-around;
}

.self-compare {
    width: 33%;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-compare {
    display: flex;
    justify-content: center;

    img {
        border-radius: 300px;
        width: 13%;
        margin: 1rem
    }

    h5 {
        font-size: 2rem;
        width: 50%;
        text-align: center;
        font-style: italic;
        margin-top: 5rem;
        font-weight: 300;
    }
}
.analytics-container {
    display: flex;

    h1 {
        font-weight: 500;
        color: $light;
      }
      
      h3 {
        font-size: 10rem;
        color: $primary;
        margin-right: 10%;
        margin-bottom: 5rem;
        text-align: right;
        // text-decoration: line-through
      }
      
    h4 {
        font-size: 2.5rem;
        padding: 1rem;
    }
}
.follow {
    display: flex;
    justify-content: center;
    padding: 5rem;
    flex-direction: column;

    h4 {
        font-size: 6rem;
        color: $primary;
        padding-bottom: 4rem;
    }
}

#spot-logo { 
    height: 10rem;
    width: 33rem;
}

  .footer {
    display: flex;

    align-items: center;
    justify-content: center;

    h3 {
        justify-content: center;
        padding-left: 4rem;
        width: 5%;
        padding-top: 5rem;
        font-size: 10rem;
    }
  }
  .fail-span {
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
  }

  .compare-artist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    justify-items: center;
    grid-gap: 10px;
  }

  .compare-track {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    margin-left: 5%
  }

  #artist-header {
    font-size: 5rem;
    color: $primary;
    padding: 5rem;
  }
  #tracks-header {
    font-size: 5rem;
    color: $orange;
    padding: 5rem;
  }

  #analytics-header {
    font-size: 5rem;
    color: $green;
  }