@import './variables.scss';

#spotify-gif {
    height: 30rem;
    width: 55rem;
    opacity: 70%;
    // transform: scale(1.1);
    // z-index: 200;
    transition: ease-in all 2s;
    @media only screen and (max-width: 920px) {
        height: auto;
        width: 100%;
        z-index: 1;
    }
}

h5 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    @media only screen and (max-width: 920px) {    
        width: 90%;    
    }
}

.home-container {
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
}

