@import './variables.scss';

#spotify-gif {
    height: 30rem;
    width: 55rem;
    opacity: 70%;
    // transform: scale(1.1);
    z-index: 200;
    transition: ease-in all 2s;
}

h5 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.home-container {
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
}
