@import './variables.scss';

#spotify-gif {
    height: auto;
    width: 45%;
    opacity: 70%;
    // transform: scale(1.1);
    // z-index: 200;
    @media only screen and (max-width: 920px) {
        height: auto;
        width: 100%;
        z-index: 1;
    }
}

h5 {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    @media only screen and (max-width: 920px) {    
        width: 90%;
        font-size: 1.5em;
        text-align: center;    
    }
}

.home-container {
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
}

