@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import "./../styles/variables.scss";

body {
  background: #ECF0F1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $light;
  background-color: black;
  max-width: 100%;
}

.profile {
  max-width: 100%;
}

.swap {
  max-width: 100%;

  // display: inline-flex;

  a {
    font-size: 1.5rem;
    max-width: 50%;
    font-weight: 500;
    opacity: 30%;
    // margin: 2em;
    padding-left: 1em;
    cursor: pointer;
  }
  a:hover {
    opacity: 100%;
  }

  .chosen {
    opacity: 100%;
  }
}

.top-btn {
  font-size: .7em;
  margin: .6em;
  font-weight: 600;
  color: $green;
  cursor: pointer;
  border: 1px solid $green;
  border-radius: .7em;
  padding: .4em;
  background-color: black;
  opacity: 50%;
}

.top-btn:hover {
  opacity: 100%;
  background-color: $green;
  color: $dark;
}


.btm-btn {
  font-size: .7em;
  margin: .6em;
  font-weight: 600;
  color: $green;
  cursor: pointer;
  border: 1px solid $orange;
  border-radius: .7em;
  padding: .4em;
  background-color: black;
  opacity: 50%;
}

.btm-btn:hover {
  opacity: 100%;
  background-color: $orange;
  color: $dark;
}

.wrap {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
  color: $light;
}

h3 {
  font-size: 5rem;
  color: $dark;
  margin-right: 10%;
  // margin-bottom: 5rem;
  text-align: right;
  // text-decoration: line-through
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

}

#top-songs {
  margin-bottom: 5rem;
}


.profile-container {
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;

    h2 {
        font-size: 5rem;
        max-width: 100%;
        margin-top: 2rem;
        margin-left: 5rem;
    }
    span {
      color: $dark;
      font-size: 5rem;

    }
}

.album-1-container {
    max-width: 100%;
    background-repeat: repeat-x;    
    height: 10vh;  
    // width: 50;  
}
.focus-image {
    display: flex;
    flex-direction: column;

    img {
        width: auto;
        // height: 300px;
        // animation: animate 8s linear infinite;
    }
}

.image-container {
  padding: 20px;
  align-items: center;

  img {
      border-radius: 10rem;
  }
}

.analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 600;
  }
  h2 {
    font-style: italic;
    font-weight: 300;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-style: italic;
    font-size: larger;
    margin-left: 1rem;
    width: 80%;
  }
}

.bars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  
  > div {
    margin: 2.5rem;
    display: inline;

    p {
      font-size: 1rem
    }
    h4 {
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
    }
  }
}

.artist-header {
  display: flex;
  position: relative;
  flex-direction: column;

  h2 {
      font-size: 15rem;
  }
  h3 {
    font-size: 5rem;
    text-align: right;
    margin-right: 10%;
    color: $dark;
    // text-decoration: line-through
  }
}


.artist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  justify-items: center;

}
.artist-div {
  width: 30%;
  margin-left: 20%;
}

.carousel {
  height: 25rem;
  width: auto;
  margin-bottom: 2em;
}
