@import "./variables.scss";

.link-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        padding-top: 5vh;
        font-style: $Montserrat;
        font-size: larger;
    }
}
.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

    a {
        margin-top: 5rem;
      padding: 1rem 4rem;
      border-radius: 5rem;
      background-color: #1db954;
      color: black;
      border: none;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 400;
      cursor: pointer;
      animation: animate 2s linear infinite;
    }

    @keyframes animate {
        0% {
            box-shadow: 0 0 0 0 rgba($green, .6);
        }
        40% {
            box-shadow: 0 0 0 4px rgba($green, .6);
        }
        80% {
            box-shadow: 0 0 0 2px rgba($green, .6);
        }
        100% {
            box-shadow: 0 0 0 0 rgba($green, .6);
        }
    }
}


.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-color: black $dark transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent black $dark;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 54px;
    height: 54px;
    border-color: $green $dark transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }