@import './variables.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.track-carousel-container {
    // width: 75%;
    margin: 5em auto;
    max-width: 100%;
}

.slide img{ 
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    @media only screen and (max-width: 1024px) {
          width: 10em;
          height: auto;
          margin: 0;
    }
}

.slide {
    transform: scale(0.4);
    transition: transform 300ms;
    opacity: .5;
    z-index: 1;
    margin-bottom: 5rem;
    @media only screen and (max-width: 1024px) {
        transform: scale(0);
        transition: transform 300ms;
        opacity: .5;
        z-index: 1;
        margin-bottom: 5rem;
      }
}

.activeSlide {
    transform: scale(1.1);
    opacity: 100%;
    z-index: 100;
    @media only screen and (max-width: 1024px) {
        transform: scale(1);
        transition: transform 300ms;
        opacity: 100%;
        z-index: 1;
        margin-bottom: 5rem;
      }
}

.arrow {
    position: absolute;
    z-index: 10;
}
svg {
    transition: color 300ms;
    cursor: pointer;
    opacity: 60%;
}

svg:hover {
    color: $green
}

.next {
    right: 0%;
    top: 50%;
}

.prev {
    left: 0%;
    top: 50%;
}

.info {
    font-size: 1rem;
    margin-bottom: 3rem;
    font-style: italic;
}